<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <title>Admin Page</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the Administrator Page!</h1>
            <p class="lead">Here you can add new items to the shop!</p>
        </div>
    </div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputProduct">Product</label>
                <input type="text" class="form-control" id="inputProduct" placeholder="What is the name of this product?">
            </div>
            <div class="form-group">
                <label for="categorySelect">Which Category does this belong in?</label>
                <select class="form-control" id="categorySelect">
                    <option>Chiffon</option>
                    <option>Viscose</option>
                    <option>Jersey</option>
                    <option>Printed</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Tell us a little about this product.">
        </div>
        <div class="form-group">
            <label for="inputCost">Cost</label>
            <input type="text" class="form-control" id="inputCost" placeholder="$0.00">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputQuantity">Quantity</label>
                <input type="text" class="form-control" id="inputQuantity">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputImagey">Image</label>
                <input type="text" class="form-control" id="inputImage" placeholder="Please provide a link for an image here.">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="add-product">Add Product</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</body>

</html>