<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--Code for Jersey Scarves-->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="WMPX7CAS9QTEJ">
            <table>
            <tr><td><input type="hidden" name="on0" value="Colors">Colors</td></tr><tr><td><select name="os0">
                <option value="Gray">Gray </option>
                <option value="Aqua">Aqua </option>
                <option value="Pink">Pink </option>
            </select> </td></tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

            <!--Code for Chiffon Scarves-->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="K3MVQBDHMXY22">
                <table>
                <tr><td><input type="hidden" name="on0" value="Colors">Colors</td></tr><tr><td><select name="os0">
                    <option value="Ombre-Navy">Ombre-Navy </option>
                    <option value="Ombre-Teal">Ombre-Teal </option>
                    <option value="Ombre-Maroon">Ombre-Maroon </option>
                </select> </td></tr>
                </table>
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>


                <!--Code For Viscose Scarves-->
                <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="9MHAN3YC5CRNL">
                    <table>
                    <tr><td><input type="hidden" name="on0" value="Colors">Colors</td></tr><tr><td><select name="os0">
                        <option value="Black">Black </option>
                        <option value="Pink/Iman">Pink/Iman </option>
                        <option value="Gray">Gray </option>
                        <option value="Mustard">Mustard </option>
                        <option value="Olive">Olive </option>
                        <option value="Blue">Blue </option>
                        <option value="Orange">Orange </option>
                        <option value="Maroon">Maroon </option>
                        <option value="Floral">Floral </option>
                    </select> </td></tr>
                    </table>
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <!--Code for Printed Scarves-->
                    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="UBP4XYE82LU4C">
                        <table>
                        <tr><td><input type="hidden" name="on0" value="Colors">Colors</td></tr><tr><td><select name="os0">
                            <option value="Black">Black </option>
                            <option value="Cream">Cream </option>
                            <option value="Green">Green </option>
                            <option value="Maroon">Maroon </option>
                        </select> </td></tr>
                        </table>
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                        
                    
</body>
</html>