<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">

    <!--Glyphicons & Fonts-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <!-- 
        font-family: 'Open Sans Condensed', sans-serif;
        font-family: 'Open Sans', sans-serif; 
    -->

    <title>Hijab Store</title>
</head>

<body>

    <!-- Hamburger Menu Activated Sidebar -->
    <div class="container hamburger-menu-class" id="hamburger-menu">
        <div class="row">

            <div class="col-lg-6 text-center">
                <i class="fas fa-times-circle"></i>
            </div>

            <div class="col-lg-6">

            </div>


            <div class="col text-center">

                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Category</li>
                    <li class="indented-list">
                        <a href="../views/products.html" class="navbar-category">Chiffon</a>
                    </li>
                    <li class="indented-list">
                        <a href="../views/products.html" class="navbar-category">Viscose</a>
                    </li>
                    <li class="indented-list">
                        <a href="../views/products.html" class="navbar-category">Jersey</a>
                    </li>
                    <li class="indented-list">
                        <a href="../views/products.html" class="navbar-category">Printed</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- NavBar -->
    <div class="container-fluid" id="navbar">

        <!-- Top Row -->
        <div class="row" id="navbar-top">

            <!-- Hamburger Menu -->
            <div class="col-lg-2 text-center nav-top" id="hamburger-menu-icon">
                <i class="fas fa-bars"></i>
            </div>

            <!-- Logo -->
            <div class="col-lg-8 text-center nav-top" id="site-logo">
                <h1>HIJAB</h1>
            </div>

            <!-- Checkout -->
            <div class="col-lg-2 text-center nav-top" id="shopping-cart" a href="../views/checkout.html">
                <i class="fas fa-shopping-cart" id="shopping-cart-icon" a href="../views/checkout.html" ></i>
            </div>

        </div>

        <!-- Bottom Row -->
        <div class="row" id="navbar-bottom">
            <div class="col-lg-2 text-center nav-bottom">
            </div>

            <div class="col-lg-2 text-center nav-bottom">
                <a href="../views/products.html" class="navbar-category">Chiffon</a>

            </div>

            <div class="col-lg-2 text-center nav-bottom">
                <a href="../views/products.html" class="navbar-category">Viscose</a>
            </div>

            <div class="col-lg-2 text-center nav-bottom">
                <a href="../views/products.html" class="navbar-category">Jersey</a>
            </div>

            <div class="col-lg-2 text-center nav-bottom">
                <a href="../views/products.html" class="navbar-category">Printed</a>
            </div>

            <div class="col-lg-2 text-center nav-bottom">
            </div>
        </div>
    </div>



    <!-- Products Section -->
    <div class="container-fluid">
        <div class="row">

            <!-- Empty Div -->
            <div class="col-lg-2">
            </div>

            <!-- Products Section / Products Display Here -->
            <div class="col-lg-8" id="products-div">

                <div class="float-left product">
                    <img class="d-block w-100" src="http://via.placeholder.com/100x100" alt="Product Image">
                    <p class="product-name">Product Name</p>
                    <p class="product-price">Price</p>
                    <p class="purchase">+ Add to Cart</p>

                </div>

                <div class="float-left product">
                    <img class="d-block w-100" src="http://via.placeholder.com/100x100" alt="Product Image">
                    <p class="product-name">Product Name</p>
                    <p class="product-price">Price</p>
                    <p class="purchase">+ Add to Cart</p>

                </div>

                <div class="float-left product">
                    <img class="d-block w-100" src="http://via.placeholder.com/100x100" alt="Product Image">
                    <p class="product-name">Product Name</p>
                    <p class="product-price">Price</p>
                    <p class="purchase">+ Add to Cart</p>

                </div>

                <div class="float-left product">
                    <img class="d-block w-100" src="http://via.placeholder.com/100x100" alt="Product Image">
                    <p class="product-name">Product Name</p>
                    <p class="product-price">Price</p>
                    <p class="purchase">+ Add to Cart</p>

                </div>

                <div class="float-left product">
                    <img class="d-block w-100" src="http://via.placeholder.com/100x100" alt="Product Image">
                    <p class="product-name">Product Name</p>
                    <p class="product-price">Price</p>
                    <p class="purchase">+ Add to Cart</p>

                </div>

                <div class="float-left product">
                    <img class="d-block w-100" src="http://via.placeholder.com/100x100" alt="Product Image">
                    <p class="product-name">Product Name</p>
                    <p class="product-price">Price</p>
                    <p class="purchase">+ Add to Cart</p>

                </div>

            </div>

            <!-- Empty Div -->
            <div class="col-lg-2">
            </div>

        </div>
    </div>




    <!-- Footer -->
    <div class="container-fluid text-center footer">
        <i class="fas fa-copyright"></i>
    </div>




    <!-- JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../views/index.html"></script>
</body>

</html>