/*************** Global Styles **************/


/* Navbar Styles */

#navbar {
    background-color: #ffffff;
    width: 100%;
    padding: 0;
}

/* Nabbar Top */
.nav-top {
    padding: 10px 0;
}

#hamburger-menu {
    background-color: #F7C9B8;
}

#hamburger-menu-icon {
    margin: 20px;
    padding: 10px;
    font-size: 200%;
    color: #707070;
}

#site-logo {
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #707070;
}

#site-logo h1 {
    margin: 0;
    font-size: 400%;
    color: #707070;
}

#shopping-cart {
    background-color: #F7C9B8;
}

#shopping-cart-icon {
    margin: 25px;
    padding: 10px;
    font-size: 100%;
    color: #707070;
}

/* Navbar Bottom */
.nav-bottom {
    padding: 10px 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #707070;
}

.navbar-category {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    color: #707070;
}



/************** Home Page Styles *************/
#index-carousel {
    padding: 0;
}

