/*************** Global Styles **************/


/* Navbar Styles */

#navbar {
    background-color: #ffffff;
    width: 100%;
    padding: 0;
}

/* Nabbar Top */
.nav-top {
    padding: 10px 0;
}

#site-logo {
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #707070;
}

#site-logo h1 {
    margin: 0;
    font-size: 400%;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

/* Navbar Bottom */
.nav-bottom {
    padding: 10px 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #707070;
}

.navbar-category:link {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    color: #707070;
}

.navbar-category:visited {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    color: #707070;
}

.navbar-category:hover {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    color: #707070;
}

/* Footer */
.footer {
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: #707070
}

.fa-copyright {
    font-size: 100%;
    color: #F7C9B8;
    margin: 10px;
}


/************** Home Page Styles *************/
#index-carousel {
    padding: 0;
    margin: auto;
    /* position: fixed; */
}





/************** Product Page Styles *************/

.product {
    width: 30%;
    margin: 40px 13px;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
}

.product p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    margin: 20px;
    float: left;
}
    .StripeElement {
        background-color: white;
        height: 40px;
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
      
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
      
      .StripeElement--invalid {
        border-color: #fa755a;
      }
      
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }

